# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules

# Generated
artifacts
cache

# Hardhat
/cache
/artifacts

# TypeChain
/typechain
/typechain-types

# Solidity coverage
/coverage
/coverage.json
